:root {
  --primarycolor: #00b894;
  --hovercolor: hsl(197, 90%, 42%);
  --whitecolor: hsl(0, 0%, 100%);
  --blackcolor: hsl(0, 0%, 18%);
  --textycolor: hsl(240, 1%, 48%);
  --grayBg: hsl(0, 0%, 96%);
  --graytext: rgb(190, 190, 190);
  --whitecolorDream: hsl(330, 12%, 97%);
  --inputColor: hsl(330, 12%, 97%);
  /* --box-shadow: 2px 8px 2px rgba(178, 178, 178, 0.334); */
}

.offer {
  position: relative;
  bottom: 50px;
}
.offer .secContainer .mainContent {
  gap: 1rem;
  max-width: 92%;
  margin-left: 30px;
}
.offer .secContainer .mainContent .singleOffer {
  border-radius: 1rem;
  overflow: hidden;
  padding: 0.5rem;
  box-shadow: 2px 8px 2px rgba(178, 178, 178, 0.334);
}
.offer .secContainer .mainContent .singleOffer .icon {
  font-size: 20px;
  color: var(--t);
}
.offer .secContainer .mainContent .singleOffer small {
  font-weight: 500;
  color: var(--textycolor);
}
.offer .secContainer .mainContent .singleOffer .destImage {
  position: relative;
  height: 250px;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
}
.offer .secContainer .mainContent .singleOffer .destImage img {
  height: 100%;
}
.offer .secContainer .mainContent .singleOffer .destImage .discount {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background: var(--primarycolor);
  color: var(--whitecolor);
  border-radius: 3rem;
  font-size: 12px;
  font-weight: 500;
}
.offer .secContainer .mainContent .singleOffer .offerBody {
  padding: 1rem;
}
.offer .secContainer .mainContent .singleOffer .offerBody .price {
  justify-content: space-between;
}
.offer .secContainer .mainContent .singleOffer .offerBody .price h4 {
  color: var(--blackcolor);
  font-weight: 700;
  font-size: 1.1rem;
}
.offer .secContainer .mainContent .singleOffer .offerBody .price .status {
  padding: 5px 10px;
  color: var(--hovercolor);
  background-color: var(--grayBg);
  font-size: 14px;
  font-weight: 600;
  border-radius: 3rem;
}
.offer .secContainer .mainContent .singleOffer .offerBody .amenities {
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1rem 0;
  gap: 0.5rem;
}
.offer .secContainer .mainContent .singleOffer .offerBody .amenities .singleAmenity {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--grayBg);
  gap: 0.5rem;
}
.offer .secContainer .mainContent .singleOffer .offerBody .btn {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 0.6rem;
  color: var(--whitecolor);
  font-weight: 600;
  gap: 0.5rem;
}
.offer .secContainer .mainContent .singleOffer .offerBody .btn .icon {
  color: var(--whitecolor);
}
.offer .secContainer .mainContent .singleOffer:hover {
  transform: translateY(-7px);
}

@media (max-width: 640px) {
  .secContainer {
    margin-top: 400px;
  }
  .secContainer .secIntro .paragraph {
    width: 100%;
    text-align: center;
  }
  .secContainer .secIntro .paragraph p {
    width: 100%;
    margin-left: 10px !important;
    margin-top: 20px;
  }
  .secContainer .mainContent {
    width: 100%;
    right: 70px;
    position: relative;
  }
  .secContainer .mainContent .singleOffer {
    width: 280px !important;
  }
  .secContainer .mainContent .singleOffer .destImage {
    width: 500px;
  }
}
@media (max-width: 550px) {
  .secContainer .mainContent {
    width: 100%;
    left: 15px;
    position: relative;
  }
  .secContainer .mainContent .singleOffer {
    width: 400px !important;
  }
}
@media (max-width: 750px) {
  .secContainer {
    margin-top: 450px;
  }
  .secContainer .secIntro .paragraph {
    width: 100%;
    text-align: center;
  }
  .secContainer .secIntro .paragraph p {
    width: 100%;
    margin-left: 10px !important;
    margin-top: 30px;
  }
  .secContainer .mainContent {
    width: 100%;
    right: 70px;
    top: 20px;
    position: relative;
  }
  .secContainer .mainContent .singleOffer {
    width: 280px !important;
  }
  .secContainer .mainContent .singleOffer .destImage {
    width: 500px;
  }
}
@media (max-width: 850px) {
  .secContainer {
    margin-top: 330px;
  }
  .secContainer .secIntro .paragraph {
    width: 100%;
    text-align: center;
  }
  .secContainer .secIntro .paragraph p {
    width: 100%;
    margin-left: 10px !important;
    margin-top: 20px;
  }
  .secContainer .mainContent {
    width: 100%;
    top: 0px;
    position: relative;
  }
  .secContainer .mainContent .singleOffer {
    width: 280px !important;
  }
  .secContainer .mainContent .singleOffer .destImage {
    width: 500px;
  }
}
@media (max-width: 970px) {
  .secContainer {
    margin-top: 130px;
  }
  .secContainer .secIntro {
    width: 100%;
    position: relative;
    right: 115px;
  }
  .secContainer .secIntro .paragraph {
    border: 1px red solid;
  }
  .secContainer .secIntro .paragraph p {
    width: 100%;
    margin-top: 20px;
  }
  .secContainer .mainContent {
    width: 100%;
    right: 150px;
    position: relative;
  }
  .secContainer .mainContent .singleOffer {
    width: 280px !important;
  }
  .secContainer .mainContent .singleOffer .destImage {
    width: 500px;
  }
}
@media (max-width: 1080px) {
  .secContainer {
    margin-top: 130px;
  }
  .secContainer .secIntro {
    width: 100%;
    position: relative;
    left: 50px;
  }
  .secContainer .secIntro .paragraph {
    border: 1px red solid;
  }
  .secContainer .secIntro .paragraph p {
    width: 100%;
    margin-top: 20px;
  }
  .secContainer .mainContent {
    width: 100%;
    position: relative;
  }
  .secContainer .mainContent .singleOffer {
    width: 280px !important;
  }
  .secContainer .mainContent .singleOffer .destImage {
    width: 550px !important;
  }
  .secContainer .mainContent .singleOffer .destImage img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1150px) {
  .secContainer {
    margin-top: 130px;
  }
  .secContainer .secIntro {
    width: 100%;
    position: relative;
    left: 50px;
  }
  .secContainer .secIntro .paragraph {
    border: 1px red solid;
  }
  .secContainer .secIntro .paragraph p {
    width: 100%;
    margin-top: 20px;
  }
  .secContainer .mainContent {
    width: 100%;
    right: 60px;
    position: relative;
  }
  .secContainer .mainContent .singleOffer {
    width: 330px !important;
  }
  .secContainer .mainContent .singleOffer .destImage {
    width: 600px !important;
  }
  .secContainer .mainContent .singleOffer .destImage img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1250px) {
  .secContainer {
    margin-top: 130px;
  }
  .secContainer .secIntro {
    width: 100%;
    position: relative;
  }
  .secContainer .secIntro .paragraph {
    border: 1px red solid;
  }
  .secContainer .secIntro .paragraph p {
    width: 100%;
    margin-top: 20px;
  }
  .secContainer .mainContent {
    width: 100%;
    right: 0px;
    position: relative;
  }
  .secContainer .mainContent .singleOffer {
    width: 330px !important;
  }
  .secContainer .mainContent .singleOffer .destImage {
    width: 550px !important;
  }
  .secContainer .mainContent .singleOffer .destImage img {
    width: 100%;
    height: 100%;
  }
}/*# sourceMappingURL=offer.css.map */