:root {
  --primarycolor: hsl(26, 93%, 50%);
  --hovercolor: hsl(26, 90%, 42%);
  // --primarycolor: #00b894;
  --hovercolor: hsl(197, 90%, 42%);
  --whitecolor: hsl(0, 0%, 100%);
  --blackcolor: hsl(0, 0%, 18%);
  --textycolor: hsl(240, 1%, 48%);
  --grayBg: hsl(0, 0%, 96%);
  --graytext: rgb(190, 190, 190);
  --whitecolorDream: hsl(330, 12%, 97%);
  --inputColor: hsl(330, 12%, 97%);
  /* --box-shadow: 2px 8px 2px rgba(178, 178, 178, 0.334); */
}


.offer {
  position: relative;
  bottom: 50px;

  .secContainer {
    .paragraph {
      margin-left: 110px;
    }

    .mainContent {
      gap: 1rem;
      max-width: 80%;
      margin-left: 140px;


      .singleOffer {
        border-radius: 1rem;
        overflow: hidden;
        padding: .2rem;
        border: 2px var(--whitecolor) solid;
        box-shadow: 2px 6px 2px rgba(178, 178, 178, 0.334);

        .icon {
          font-size: 20px;
          color: var(--t);
        }

        small {
          font-weight: 500;
          color: var(--textycolor);
        }

        .destImage {
          position: relative;
          height: 200px;
          width: 90%;
          border-radius: 2px;
          overflow: hidden;

          img {
            height: 100%;
          }

          .discount {
            position: absolute;
            top: 8px;
            right: 10px;
            padding: 4px 6px;
            background: var(--primarycolor);
            color: var(--whitecolor);
            border-radius: 3rem;
            font-size: 12px;
            font-weight: 500;
          }
        }

        .offerBody {
          padding: 1rem;

          .price {
            justify-content: space-between;

            h4 {
              color: var(--blackcolor);
              font-weight: 700;
              font-size: 1rem;
            }

            .status {
              // padding: 2px 4px;
              color: var(--hovercolor);
              background-color: var(--grayBg);
              font-size: 14px;
              font-weight: 600;
              border-radius: 3rem;
            }
          }

          .amenities {
            width: 100%;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding: 1rem 0;
            gap: .5rem;

            .singleAmenity {
              padding: 4px 6px;
              border-radius: 5px;
              background-color: var(--grayBg);
              gap: .5rem;
            }
          }

          .btn {
            margin-top: 1rem;
            width: 80%;
            text-align: center;
            justify-content: center;
            padding: .6rem;
            color: var(--whitecolor);
            font-weight: 600;
            gap: .5rem;

            .icon {
              color: var(--whitecolor);
            }
          }
        }

        &:hover {
          transform: translateY(-7px);
        }

      }

    }
  }
}

// @media (max-width:640px) {
//   .secContainer {
//     margin-top: 400px;

//     .secIntro {
//       .paragraph {
//         width: 100%;
//         text-align: center;

//         p {
//           width: 100%;
//           margin-left: 10px !important;
//           margin-top: 20px;

//         }
//       }
//     }

//     .mainContent {
//       width: 100%;
//       right: 70px;
//       position: relative;

//       .singleOffer {
//         width: 280px !important;


//         .destImage {
//           width: 500px;




//         }
//       }

//     }

//   }
// }


// @media (max-width:550px) {
//   .secContainer {
//     .mainContent {
//       width: 100%;
//       // right: 70px;
//       left: 15px;
//       position: relative;

//       .singleOffer {
//         width: 400px !important;

//       }

//     }

//   }
// }


@media (max-width:750px) {
  .secContainer {
    margin-top: 50px;
    // margin-right: 60px;
    // width: 100%;
    // border: 1px red solid;
    position: relative;
    right: 100px;

    .secIntro {
      .paragraph {
        width: 100%;
        text-align: left;
        p {
          width: 100%;
          // margin-left: 10px !important;
          margin-top: 30px;

        }
      }
    }

    .mainContent {
      width: 100%;
      right: 70px;
      top: 20px;
      position: relative;

      .singleOffer {
        width: 280px !important;


        .destImage {
          width: 500px;




        }
      }

    }

  }
}


// @media (max-width:850px) {
//   .secContainer {
//     margin-top: 330px;

//     .secIntro {
//       .paragraph {
//         width: 100%;
//         text-align: center;

//         p {
//           width: 100%;
//           margin-left: 10px !important;
//           margin-top: 20px;

//         }
//       }
//     }

//     .mainContent {
//       width: 100%;
//       top: 0px;
//       position: relative;

//       .singleOffer {
//         width: 280px !important;


//         .destImage {
//           width: 500px;




//         }
//       }

//     }

//   }
// }


// @media (max-width:970px) {
//   .secContainer {
//     margin-top: 130px;

//     .secIntro {
//       width: 100%;
//       position: relative;
//       right: 115px;

//       .paragraph {
//         // border: 1px red solid;

//         p {
//           width: 100%;
//           // margin-left: 10px !important;
//           margin-top: 20px;

//         }
//       }
//     }

//     .mainContent {
//       width: 100%;
//       right: 150px;
//       position: relative;

//       .singleOffer {
//         width: 280px !important;


//         .destImage {
//           width: 500px;




//         }
//       }

//     }

//   }
// }


// @media (max-width:1080px) {
//   .secContainer {
//     margin-top: 130px;

//     .secIntro {
//       width: 100%;
//       position: relative;
//       // right: 115px;
//       left: 50px;

//       .paragraph {
//         // border: 1px red solid;

//         p {
//           width: 100%;
//           // margin-left: 10px !important;
//           margin-top: 20px;

//         }
//       }
//     }

//     .mainContent {
//       width: 100%;
//       // right: 150px;
//       position: relative;

//       .singleOffer {
//         width: 280px !important;


//         .destImage {
//           width: 550px !important;

//           img {
//             width: 100%;
//             height: 100%;
//           }


//         }
//       }

//     }

//   }
// }

// @media (max-width:1150px) {
//   .secContainer {
//     margin-top: 130px;

//     .secIntro {
//       width: 100%;
//       position: relative;
//       // right: 115px;
//       left: 50px;

//       .paragraph {
//         // border: 1px red solid;

//         p {
//           width: 100%;
//           // margin-left: 10px !important;
//           margin-top: 20px;

//         }
//       }
//     }

//     .mainContent {
//       width: 100%;
//       right: 60px;
//       position: relative;

//       .singleOffer {
//         width: 330px !important;


//         .destImage {
//           width: 600px !important;

//           img {
//             width: 100%;
//             height: 100%;
//           }


//         }
//       }

//     }

//   }
// }

// @media (max-width:1250px) {
//   .secContainer {
//     margin-top: 130px;

//     .secIntro {
//       width: 100%;
//       position: relative;


//       .paragraph {
//         // border: 1px red solid;

//         p {
//           width: 100%;

//           margin-top: 20px;

//         }
//       }
//     }

//     .mainContent {
//       width: 100%;
//       right: 0px;
//       position: relative;

//       .singleOffer {
//         width: 330px !important;


//         .destImage {
//           width: 550px !important;

//           img {
//             width: 100%;
//             height: 100%;
//           }


//         }
//       }

//     }

//   }
// }