section {
  .header {
    .header-cout {
      width: 100%;
      height: 100vh;
      margin-top: 100px;

      p {
        width: 70%;
        height: 50px;
        margin-left: 10PX;
      }

      .paragraph {
        h2 {
          margin-left: 10PX;
        }
      }

      .containers {
        .citiesCount {
          width: 100%;

          .citieDestination {

            height: 85vh !important;
            display: flex;
            position: relative;

            gap: 15px;

            .rightDestination {
              width: 35%;
              height: 75vh;
              position: relative;
              // border: 1px red solid !important;

              .image {

                cursor: pointer;
                height: 75vh;

                img {
                  width: 100%;
                  height: 100%;
                }
              }

              .title {

                bottom: 15px;
                width: 200px;
                position: absolute;
                color: #fff;
                padding-left: 20px;

              }


            }

            .laftDestination {
              width: 65%;
              height: 85vh;


              .laftDestinationside {
                display: flex;
                width: 100%;
                gap: 15px;

                position: relative;


                .laftDestinationTop {
                  width: 100%;

                  height: auto;

                  .image {

                    cursor: pointer;


                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }

                  .title {

                    bottom: 15px;
                    width: 200px;
                    position: absolute;
                    color: #fff;
                    padding-left: 20px;

                  }


                }


              }

              .DestinationBut {
                width: 100%;
                // border: 1px red solid;

                position: relative;
                height: 40vh;
                padding: 6px 0px;

                .image {

                  width: 650px;
                  height: 235px;
                  margin-top: 6px;
                  cursor: pointer;

                  img {
                    width: 100%;
                    height: 100%;
                  }
                }

                .title {
                  position: absolute;
                  bottom: 15px;
                  color: #fff;
                  padding-left: 20px;
                  width: 200px;
                }

              }

            }

          }

        }
      }



    }
  }
}

@media (max-width: 640px) {
  .header-cout {
    margin-top: 10rem !important;

    .paragraph {
      width: 100%;
      text-align: center;

      p {
        margin-left: 85px !important;
        margin-top: 20px;

      }
    }

    .containers {
      .citiesCount {
        .citieDestination {

          flex-direction: column;
          margin-left: 40px;

          .rightDestination {
            width: 100%;
            margin-top: 20px;

            .image {
              width: 530px !important;
              height: 500px !important;
              position: relative;
              right: 25px;

              img {
                width: 100%;
              }
            }
          }

          .laftDestination {
            .laftDestinationside {
              .laftDestinationTop {
                width: 100%;
                margin-top: 50px;

                .image {
                  width: 250px !important;
                  margin-top: 150px;
                  text-align: center;
                  height: 300px;
                  position: relative;
                  right: 50px;

                  img {
                    width: 100%;

                  }
                }


              }
            }

            .DestinationBut {
              // width: 100%;

              .image {
                width: 300px !important;
                margin-top: 120px;
                height: 300px;
                position: relative;
                right: 120px;

                img {
                  width: 100%;

                }


              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .header-cout {
    // margin-top: 10rem !important;

    .paragraph {
      width: 100%;
      text-align: center;

      p {
        margin-left: 85px !important;
        margin-top: 20px;

      }
    }

    .containers {
      .citiesCount {
        .citieDestination {
          flex-direction: column;
          margin-left: 100px;

          .rightDestination {
            width: 100%;
            margin-top: 20px;
            position: absolute;
            height: 100%;
            border: red solid 1px !important;

            .image {
              width: 600px !important;
              height: 500px !important;

              img {
                width: 100%;
              }
            }

            .title {
              width: 100px;
              position: relative;
              top: 20px;
              // right: 20px;
              left: 10px;

              margin-top: 20px !important;
            }
          }

          .laftDestination {
            .laftDestinationside {
              .laftDestinationTop {
                width: 100%;
                margin-top: 50px;
                border: 1px red solid;

                .image {
                  border: 1px red solid;
                  width: 270px;
                  margin-top: 150px;
                  text-align: center;
                  height: 300px;
                  position: relative;
                  right: 40px;

                  img {
                    width: 100%;

                  }
                }


              }
            }

            .DestinationBut {
              width: 100%;

              .image {
                width: 555px !important;
                margin-top: 120px;
                height: 320px !important;
                position: relative;
                right: 40px;

                img {
                  width: 100%;

                }


              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .header-cout {
    // margin-top: 10rem !important;

    .containers {
      .citiesCount {
        .citieDestination {
          margin-top: 50px;

          .rightDestination {
            width: 100%;
  
            height: 100%;
          

            .image {
              width: 300px !important;
              height: 450px !important;
   

              img {
                height: 100%;

              }
            }

            .title {
              width: 100px;
              position: relative;
              top: 20px;
              right: 70px;
              font-size: 10px;
              margin-top: 20px !important;
            }
          }

          .laftDestination {


            .DestinationBut {
              width: 100%;

              .image {
                width: 500px !important;
                margin-top: 120px;
                height: 280px !important;

                img {
                  width: 100%;

                }


              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 970px) {
  .header-cout {
    // margin-top: 10rem !important;

    .containers {
      .citiesCount {
        .citieDestination {
          margin-top: 40px;

          // flex-direction: column;
          margin-right: 100px;

          .rightDestination {
            width: 100%;
            // margin-top: 20px;
            position: absolute;
            height: 100%;
          

            .image {
               width: 300px;
              height: 400px !important;
   

              img {
                height: 100%;

              }
            }

            .title {
              width: 100px;
              position: relative;
              top: 20px;
              right: 70px;
              font-size: 10px;
              margin-top: 20px !important;
            }
          }

          .laftDestination {
            .laftDestinationside {
              .laftDestinationTop {
                width: 600px;
                // margin-top: 50px;
  


                .image {
    
                  width: 280px !important;
                  height: 200px !important;
                  img {
                    width: 100%;
                    // margin-right: 20px;
                    position: relative;
                    right: 10px;

                  }
                }


              }
            }

            .DestinationBut {
              width: 580px !important;


              .image {
                width: 300px !important;
                margin-top: 120px;
                height: 255px !important;
  
                position: relative;
                right: 30px;
                bottom: 10px;
                padding: 15px;

                img {
                  width: 100%;

                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .header-cout {


    .containers {
      .citiesCount {
        .citieDestination {

          .rightDestination {
            width: 100%;
         
            height: 100%;
          

            .image {
        
              height: 455px !important;
   

              img {
                height: 100%;

              }
            }

            .title {
              width: 100px;
              position: relative;
              top: 20px;
              right: 70px;
              font-size: 10px;
              margin-top: 20px !important;
            }
          }

          .laftDestination {
            .laftDestinationside {
              .laftDestinationTop {
           

                .image {
              
                  width: 285px;
            

                  img {
                    width: 100%;

                  }
                }


              }
            }

            .DestinationBut {
              width: 100%;

              .image {
                width: 585px !important;
                margin-top: 120px;
                height: 255px !important;
  

                img {
                  width: 100%;

                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .header-cout {


    .containers {
      .citiesCount {
        .citieDestination {


          .rightDestination {
            width: 100%;
            height: 100%;
            border: red solid 1px !important;

            .image {
              width: 330px;
              height: 470px !important;
   

              img {
                height: 100%;

              }
            }

            .title {
              width: 100px;
              position: relative;
              top: 20px;
              right: 70px;
              font-size: 10px;
              margin-top: 20px !important;
            }
          }

          .laftDestination {
            .laftDestinationside {
              .laftDestinationTop {
                margin-left: 25px;

                .image {
                  width: 300px;

                  img {
                    width: 100%;

                  }
                }


              }
            }

            .DestinationBut {
              width: 100%;
              margin-left: 25px;

              .image {
                width: 640px !important;
                margin-top: 120px;
                height: 260px !important;
  

                img {
                  width: 100%;

                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .header-cout {

    .containers {
      .citiesCount {
        .citieDestination {

      

          .rightDestination {
            width: 100%;
    
            height: 100%;
            border: red solid 1px !important;

            .image {
              width: 330px;
              height: 470px !important;
   

              img {
                height: 100%;

              }
            }

            .title {
              width: 100px;
              position: relative;
              top: 20px;
              right: 70px;
              font-size: 10px;
              margin-top: 20px !important;
            }
          }

          .laftDestination {
            .laftDestinationside {
              .laftDestinationTop {
              
                margin-left: 25px;

                .image {
           
                  width: 300px;
        

                  img {
                    width: 100%;

                  }
                }


              }
            }

            .DestinationBut {
              width: 100%;
              margin-left: 25px;

              .image {
                width: 640px !important;
                margin-top: 120px;
                height: 260px !important;
  

                img {
                  width: 100%;

                }
              }
            }
          }
        }
      }
    }
  }
}