
:root {
  --primarycolor: hsl(26, 93%, 50%);
  --hovercolor: hsl(26, 90%, 42%);

  /* --primarycolor: #00b894;
  --hovercolor: hsl(197, 90%, 42%); */
  --whitecolor: hsl(0, 0%, 100%);
  --blackcolor: hsl(0, 0%, 18%);
  --navcolor: hsl(248, 74%, 18%);
  --textycolor: hsl(240, 1%, 48%);
  --grayBg: hsl(0, 0%, 96%);
  --graytext: rgb(190, 190, 190);
  --whitecolorDream: hsl(330, 12%, 97%);
  --inputColor: hsl(330, 12%, 97%);
  /* --box-shadow: rgba(2px 8px 2px rgba(178, 178, 178, 0.334)); */
}

section {
  .header {
    .headerCount {
      margin-top: 100px;

      .mainheader {
        .paragraph {
          width: 100%;
        }
      }

      .sidecontainer {
        display: flex;
        gap: 5px;
        font-size: 35px;
        color: var(--whitecolor);
        text-align: center;
        // position: absolute;
        /* transform: translate(150%); */
        width: 100%;
        margin-top: 10px;

        .side {
          .sidebar {
            width: 100%;
            height: 200px;
            position: relative;


            .image {
              width: 350px;
              height: 477px;

              img {
                width: 100%;
                height: 100%;
              }
            }

            .title {
              top: 360px;

              // top: 0;
              width: 200px;
              // height: x;
              position: absolute;
              color:var(--whitecolor);
              margin-top: 30px;
              padding-right: 50px;

            }
          }
        }
      }

      .sidetop {
        .sidetopcont {


          .content1 {
            width: 100%;
            height: 100%;
            margin-top: 30px;
            position: relative;

            .image {
              width: 635px;
              height: 250px;
              /* margin-left: 20px; */
              margin-left: 9px;
              // padding: 0 8px;

              img {
                width: 100%;
                height: 100%;
              }
            }

            .title {

              bottom: 15px;
              width: 200px;
              position: absolute;
              color:var(--whitecolor);
              padding-left: 20px;

            }
          }
        }

      }

      .right {
        width: 100%;
        display: flex;


        .content2 {
          width: 100%;
          height: 200px;
          position: relative;


          padding: 0 8px;

          .image {
            width: 310px;
            height: 215px;

            img {
              width: 100%;
              height: 100%;

            }
          }

          .title {

            bottom: 1px;
            width: 200px;
            position: absolute;
            color:var(--whitecolor);
            padding-left: 20px;

          }
        }
      }

      .content3 {
        width: 100%;
        height: 200px;
        position: relative;
        padding: 0 8px;

        .image {

          width: 310px;
          height: 215px;
          margin-right: 80px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .title {
        position: absolute;
        bottom: 1px;
        color:var(--whitecolor);
        // padding-left: 1px;
        padding-right: 50px;
        width: 200px;
      }



    }
  }
}

